.landing-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background-color: #313131;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.171) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.form-container {
  background-color: #ede8e8;
  padding: 30px;
  width: 400px;
  max-width: 90%;
}

.toggle-button {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 50%;
}

.btn:hover {
  background-color: #999;
}

.btn.active {
  background-color: #007bff; /* Blue background for active button */
  color: white;
}

.input-field {
  width: 100%; /* Make input fields take full width of their container */
  padding: 12px; /* Increased padding */
  margin: 10px 0; /* Adjust vertical margin */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.input-field:focus {
  outline: none;
  border-color: #007bff; /* Highlight on focus */
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); /* Subtle focus shadow */
}

.guest-login {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.guest-login button {
  padding: 12px 25px;
  margin: 10px;
  background-color: #0e53e9;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 50%;
}

.guest-login button:hover {
  background-color: #999;
}
