* {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.App {
  text-align: center;
  padding: 2rem;
}
